/*門市據點頁面開始*/
.location{
    padding: 22px 0px 154px 0px;
}
.select-location{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
}
.select-location span{
    font-size: 24px;
    margin-right: 22px;
}
.select-location select {
    width: 256px;
    font-size: 18px;
    padding: 10px 0 10px 19px;
   
}
.store-location-list{
    justify-content: space-between;
    padding: 32px 0px 154px 0px;
}
.store-location-list li{
    width: 32.3333%;
    margin-bottom: 28px;
    border: 1px solid #00000020;
}

.store-location-list h3{
    padding: 16px 0px 16px 24px;
    font-size: 24px;
    border-bottom: 1px solid #00000020;
}
.store-location-list img{
    width: 100%;
}
.detail-message{
    padding: 12.5px 40px 16px 39.96px;
}
.detail-message-inner{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    line-height: 28px;
}
.detail-message-inner:nth-child(1) img{
        width: 26px;
        height: 19px;
        margin-right: 8px;
    }


.detail-message-inner:nth-child(2) img{
        width: 24px;
        height: 24px;
        margin-right: 9px;
    }
.detail-message-inner:nth-child(3) img{
        width: 18px;
        height: 24px;
        margin-left: 3px;
        margin-right: 12px;
    }
.detail-btn{
    display: block;
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: $text-default-color;
    color: $text-color;
    text-decoration: none;
    padding: 20px 0px;
}
.detail-btn:hover{
    background-color:$primary-color;
}
@include pad(){
    .store-location-list li{
    width: 48%;
    }
    .select-location span{
        font-size: 16px;
    }
    .select-location select {
        font-size: 16px;
    }
    .store-location-list h3 {
        font-size: 16px;
    }
    .detail-message-inner span{
        font-size: 14px;
    }
    .detail-btn {
        font-size: 14px;
    }
}
@include phone(){
    .location {
        padding: 0px 12px;
    }
    .store-location-list li{
        width: 100%;
    }
    .detail-btn {
        font-size: 14px;
    }
    .select-location span {
        font-size: 14px;
        margin-right: 16px;
    }
    .select-location select {
        font-size: 14px;
        padding: 8px 0px 8px 16px;
    }
}
/*門市據點頁面結束*/
