
/*page-faq頁面開始*/
/*banner開始*/
.page-banner{
    background-image: url(../images/qa.png);
    background-position: center center;
    background-size: cover;
    height: 304px;

}
.title{
    display: flex;
    align-items: flex-end;
    h1{
        font-size: 64px;
        margin-right: 10px;
    }
    .title-outer{
        display: flex;
    }
}
@include pad(){
    .page-banner {
        background-image: url(../images/72@2x.png);
        .container{
            max-width: 672px;
        }
    }
    .title{

        h1{
            font-size: 48px;
            margin-right: 16px;
        }
    }
    .title-outer{
        align-items: center;
        img{
            width: 48px;
            height: 48px;
        }
    }
}
@include phone(){
    .page-banner {
        background-image: url(../images/72.png);
        height: 143px;
        .container{
            max-width: 352px;
        }
    }
    .title{
        h1{
            font-size: 28px;
            margin-right: 8px;
        }
        .title-outer{
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}
/*banner結束*/
/*question區塊開始*/
.question{
    padding: 88px 0px 156px 0px;
    h2{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .card-item{
        border: 1px solid $text-default-color;
        .card-item-header{
          padding: 16px;
          border-bottom:1px solid $text-default-color;
          & a {
            text-decoration: none;
            color: $text-default-color;
            display: flex; 
            // justify-content: space-around;
            align-items: center;
            & h4{
            margin-right: auto;
            font-size: 20px;
            font-weight: bold;
            }
           }
        }
        .card-item-body{
          background-color: #F2F2F2;
          padding: 16px;
          font-size: 14px;
        }
      }
      .card-item:not(.active) .up{
        display: none;
      }
      .card-item.active .down{
        display: none;
      }
}
@include pad(){
    .question{
        padding: 40px 0px 104px 0px;
        h2{
            font-size: 28px;
            margin-bottom: 32px;
        }
        .card-item{
            .card-item-header{
              & a {
                & h4{
                font-size: 16px;
                font-weight: bold;
                }
               }
            }
    }
    .question.container{
        max-width: 672px;
    }
    }
}
@include phone(){
    .question{
        padding: 24px 0px 56px 0px;
        h2{
            font-size: 20px;
        }
    }
    .question.container{
        max-width: 352px;
    }
}
/*question區塊結束*/
/*page頁面scss結束*/