/*blog頁面開始*/
.blog-news{
    background-color: $primary-text;
    padding: 13px 88px;
}

.news{
    display: flex;
    margin-right: auto;
    // width: 484px;
    li{
        margin-right: 48px;
        a{
            text-decoration: none;
            color:$text-color;
        }
    }
}
.blog{
    padding: 88px 0px 0px 0px;
}
.blog-content-list{
    display: flex;
    color: $text-color;
    margin-bottom: 60px;

}
.blog-content-list img{
    width: 50%;
    margin-right: 24px;
}
.blog-content-text{
    h2{
        color: $primary-text;
        font-size: 32px;
    }
    p{
        color: #555555;
        font-size: 20px;
        margin-bottom: 32px;
    }
    a{
        width: 100%;
        display: block;
        text-align: right;
        text-decoration: none;
        color: $text-default-color;
    }
}
.sub-title{
    display: flex;
    margin-bottom: 42px;
    color:rgba(0, 0, 0, .7);
}
.sub-title span:first-child{
    font-size: 20px;
    margin-right: auto;
}
.sub-title span:last-child{
    font-size: 16px;
}
.m-menu-blog {
    display: none;
    background-color: #fff;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    border: 1px solid #000;
    text-align: center;
}
@include pad(){
    .blog-content-list img{
        width: 48%;
        // height: 191px;
    }
    .blog-content-text{
        h2{
            color: $primary-text;
            font-size: 20px;
        }
        p{
            color: #555555;
            font-size: 14px;
            margin-bottom: 32px;
            display: inline;

        }
        a{
            display: inline;
            font-size: 14px;
        }
    }
    
    .sub-title{
        margin-bottom: 16px;
    }
    .sub-title span:first-child{
        font-size: 16px;
        margin-right: auto;
    }
    .sub-title span:last-child{
        font-size: 14px;
    }

}
@include phone(){
    .blog-content-list {
        margin-bottom: 0;
        flex-wrap: wrap;
    }
    .blog-content-list img{
        width: 100%;
    }
    .blog-content-text{
        width: 100%;
        p{
            display: none;
        }
        a{
            display: none;
        }
    }
    .sub-title{
        width: 100%;
    }
    .m-menu-blog {
        display: flex;
        border: 5px solid #000;
        justify-content: center;
    }
    .news {
        position: absolute;
        left: 0;
        top: calc(100% + 28px);
        width: 100%;
        max-height: 0px;
        transition: all 0.8s;
        overflow: hidden;
        z-index: 5;
        display: block;
}
.blog-news{
    // display: none;
}
.blog-news img{
    display: none;
}
.news li a{
    display: block;
    color: #000;
    border: 1px solid #00000020;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top:0;
}
.news li{
    margin-right: 0;
}
.news.active {
    max-height: 265px;
    transform: translateY(-28px);
}
}
/*blog頁面結束*/
