/*blog2頁面開始*/
.blog2{
    padding: 8px 0px 156px 0px;
}
.breadcrumb{
    display: flex;
    margin-bottom: 16px;
    
    li{
        margin-right: 5px;
        a{
            text-decoration: none;
            color:#6C6C6C;
        }
    }
}
.breadcrumb li::after {
    content:"/";
    margin-left: 5px;
}
.breadcrumb li:last-child::after{
    content:"";
}
.hashtag{
    font-size: 24px;
    margin-right: 16px;
    color:$primary-color;
    font-weight: bold;
}
.blog-outer{
    width: 66%;
}
.blog-main{
    margin-bottom: 40px;
    margin-right: 24px;
    img{
        width: 100%;
        margin-bottom: 24px;
    }
    h3{
        font-size: 48px;
    }
    P{
        font-size: 20px;
    }

}
.blog-main:nth-child(4) p:nth-child(6){
margin-bottom: 20px;
// background-color: #000;
}
.en-title{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    h4{
        font-size: 28px;
    }
}
.tag-mark{
    font-size: 28px;
    color:$primary-color;
}
.tags{
width: 32%;
h4{
    font-size: 24px;
    width: 100%;
    align-items: center;
    
    span{
        a{
            color:$primary-color;
            text-decoration: none;
        }
    }
    span:first-child{
    margin-right: 16px;
    }
}
}
.share-icon{
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #000;
    span,img{
        margin-right: 16px;
    }
}
.next-content{
    justify-content: space-between;
    img {
        margin-right: 8px;
    }
}
.next-content:last-child span:first-child{
margin-right: 8px;
}
/*blog2頁面結束*/
