@import "reset";
@import "variable";//scss變數
@import "base";//全域scss
@import "mixin";//mixin.scss
@import "layout/header";//header.scss


/*menu選單開始*/

.menu {
    width: 512px;
    line-height: 108px;
    & li {
        a {
            display: block;
            color: $text-color;
            text-decoration: none;
            font-size: 20px;
            padding: 10px;
        }
    }
}

@include phone(){
    .menu {
        display: none;
        max-height: 0px;
        li {
            border-top: 1px solid $text-color;
            padding: 16px 0;
        }
    }
}

.menu.active {
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 1;
    transition: all 0.8s;
    max-height: 800px;
    background: $primary-color;
    transition: all 0.8s;
}


/*menu選單結束*/
/*banner區塊開始*/

.banner {
    background-image: url(../../assets/images/banner.png);
    background-position: center center;
    background-size: cover;
    height: 840px;
}

@media (max-width: 992px) {
    .banner {
        background-image: url(../../assets/images/banner-sm.png);
        background-position: center center;
        background-size: cover;
    }
}

@media (max-width: 767px) {
    .banner {
        background-image: url(../../assets/images/banner-sm.png);
        background-position: center center;
        background-size: cover;
        height: 394px;
    }
}

.content {
    justify-content: flex-end;
}

.slogn {
    color: $primary-text;
    & h3 {
        font-size: 36px;
        text-align: right;
    }
    & h2 {
        font-size: 64px;
    }
}

@media (max-width: 992px) {
    .slogn {
        & h3 {
            font-size: 20px;
        }
        & h2 {
            font-size: 48px;
        }
    }
}

@media (max-width: 767px) {
    .slogn {
        & h3 {
            font-size: 1rem;
        }
        & h2 {
            font-size: 2rem;
        }
    }
}


/*banner區塊結束*/

@media (max-width: 992px) {
    .container {
        max-width: 850px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 655px;
    }
}


/*feature特色區塊開始*/

.intro {
    color: $primary-text;
    padding: 64px 0px 80px 0px;
    background-color: $primary-light;
    & h4 {
        font-size: 48px;
        margin-bottom: 60px;
        font-weight: 600;
    }
}

@media (max-width: 992px) {
    .intro {
        & h4 {
            font-size: 2rem;
        }
    }
}

@media (max-width: 767px) {
    .intro {
        & h4 {
            font-size: 1.5rem;
        }
    }
}

.feature {
    & li {
        h3 {
            font-size: 24px;
            font-weight: 500;
        }
        p {
            color: $text-default-color;
            font-size: 16px;
        }
        img {
            width: 100px;
            height: 100px;
            margin: 0px auto 40px auto;
        }
        width: 282px;
        padding: 0 37px;
    }
}

@media (max-width: 992px) {
    .feature {
        flex-wrap: wrap;
        & li {
            h3 {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
            }
            img {
                width: 80px;
                height: 80px;
                margin-bottom: 1rem;
            }
            width: 50%;
            margin-bottom: 2.5rem;
        }
    }
    .feature li:nth-child(1) {
        order: 1;
    }
    .feature li:nth-child(2) {
        order: 0;
    }
    .feature li:nth-child(3) {
        order: 2;
    }
    .feature li:nth-child(4) {
        order: 3;
    }
}

@media (max-width: 767px) {
    .feature {
        & li {
            width: 100%;
            margin-bottom: 1.75rem;
            padding: 0 12px;
        }
    }
    .feature li:nth-child(1) {
        order: 2;
    }
    .feature li:nth-child(2) {
        order: 0;
    }
    .feature li:nth-child(3) {
        order: 1;
    }
    .feature li:nth-child(4) {
        order: 3;
    }
}


/*feature特色區塊開始*/


/*classic經典系列區塊開始*/

.classic {
    padding: 64px 0px 80px 0px;
    h2 {
        font-size: 48px;
        color: $primary-text;
        margin-bottom: 60px;
    }
}

.classic-list {
    li {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 32px;
        h3 {
            font-size: 48px;
            color: $primary-color;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            margin-left: 24px;
        }
    }
}

.classic-list li img:nth-child(1) {
    width: 60%;
}

.classic-list li:nth-child(2) h3 {
    margin-right: 24px;
}

.classic-list li:nth-child(2) {
    flex-direction: row-reverse;
}

@media (max-width:992px) {
    .classic-list li:nth-child(2) {
        flex-direction: row;
    }
    .classic {
        & h2 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
    .classic-list {
        & li {
            margin-bottom: 8px;
            flex-wrap: nowrap;
            img {
                width: 70%;
            }
            h3 {
                display: flex;
                justify-content: center;
                // margin-left: 65.15px;
                margin-left: 8%;
                img {
                    width: 32px;
                    height: 32px;
                    margin-right: 5%;
                }
            }
        }
        & span {
            font-size: 28px;
        }
    }
    // .category-name img:nth-child(2) {
    //     .img-hide {
    //         display: none;
    //     }
    // }
}

@media (max-width: 767px) {
    .classic {
        & h2 {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .classic-list {
            & li {
                position: relative;
                flex-wrap: wrap;
                padding: 0 12px;
                & h3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin-left: 0;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
                & span {
                    color: $text-color;
                }
                img {
                    width: 100%;
                }
            }
            // .category-name img:nth-child(1) {
            //     .img-hide {
            //         display: none;
            //     }
            // }
        }
    }
}


/*classic經典系列區塊開結束/

/* others聯名區塊開始 */

//這區塊還在努力.....
.joint {
    background-image: url(../images/bg.png);
    background-size: cover;
    padding: 64px 0px 479px 0px;
}

.joint h2 {
    color: $text-color;
    font-size: 48px;
    margin-bottom: 60px;
}

.bg-size-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.flex-column {
    flex-direction: column;
}

.others-list li:first-child {
    margin-bottom: 3.75rem;
}

.others-list-item-brand {
    position: relative;
}

.others-list-item-brand::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.5);
}

.others-list span {
    font-size: 72px;
    color: #AA0601;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    white-space: nowrap;
}

.others-list-item-brand:first-of-type {
    margin-right: 1.875rem;
}

.more {
    align-items: flex-end;
}

.more-img {
    position: relative;
    height: 100%;
    display: flex;
    max-width: 30%;
    transition: all .65s .3s;
    transform: translateX(0px);
    margin-right: 85px;
}

.more-img::after {
    content: "";
    position: absolute;
    background: white;
    top: 8%;
    bottom: 8%;
    left: 10%;
    right: -85px;
}

.more-img span {
    padding: 5px 0 5px 32px;
}

.more span::before {
    content: 'MORE';
    position: absolute;
    transition: all .65s .3s;
    transform: translateY(0px);
}

.more span:hover::before {
    transform: translateY(-85px);
    opacity: .7;
}

.more span::after {
    content: 'MORE';
    position: absolute;
    transition: all .65s .3s;
    transform: translateY(0px);
}

.more span:hover::after {
    transform: translateY(-145px);
    opacity: .4;
}

.more-img:hover img:last-child {
    transform: translateX(15px);
}

.mr-1 {
    margin-right: 8px;
}

.mb-1 {
    margin-bottom: 0.5rem;
}

.customized {
    display: flex;
    justify-content: space-between;
}

.customized li {
    position: relative;
    p {
        font-size: 72px;
        color: $primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        white-space: nowrap;
        font-weight: bold;
        z-index: 1;
    }
    img {
        // width: 585px;
        width: 98%;
    }
}

.bg-opacity-cover {
    width: 98%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width:992px) {
    .joint h2 {
        font-size: 2rem;
    }
    .others-list span {
        font-size: 40px;
    }
    .more-img span {
        padding: 5px 0 5px 61px;
    }
    .more-img span img {
        width: 27.1px;
    }
    .customized {
        flex-wrap: wrap;
    }
    .customized li p {
        font-size: 32px;
    }
    .customized li img {
        width: 322px;
    }
}

@media (max-width:767px) {
    .others-list li {
        // border: 0;
        padding: 0;
    }
    .others-list span {
        font-size: 26px;
    }
    .more-img span img {
        width: 18px;
    }
    .customized {
        justify-content: center;
    }
    .customized li {
        margin-bottom: 20px;
    }
    //變換圖片顏色卡住了...
}


/*others聯名區塊結束*/


/*customer顧客推薦區塊開始*/

.customer-recommender {
    margin-top: -308px;
    padding-bottom: 80px;
}

.customer-recommender h3 {
    color: $text-color;
    font-size: 48px;
    margin-bottom: 60px;
}

.customer-list {
    justify-content: space-between;
    // flex-wrap: wrap;
    & li {
        // width: 282px;
        width: 24%;
        // height: 256px;
        // margin: 0px 12px;
    }
}

.customer-list-area {
    border: 1px solid $border-color;
    padding: 16px;
}

.text-outer {
    // width: 250px;
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: #212529;
    & span {
        color: #707070;
    }
}

@media (max-width: 992px) {
    .customer-list {
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .customer-list li {
        width: 45%;
        margin-bottom: 24px;
    }
    .customer-list li img {
        width: 100%;
    }
    .customer-recommender h3 {
        font-size: 2rem;
    }
}

@media (max-width:767px) {
    .customer-recommender {
        padding-bottom: 24px;
    }
    .customer-list li {
        width: 100%;
        margin-bottom: 1rem;
        padding: 0 12px;
    }
    .customer-list li img {
        width: 100%;
    }
    .text-outer {
        width: 100%;
    }
}


/*customer顧客推薦區塊結束*/


/*customer聯絡我們區塊開始*/

.countas {
    padding: 64px 0px 92px 0px;
    background-color: $primary-light;
}

.countas-outer {
    max-width: 792px;
    margin: 0 auto;
}

.countas h4 {
    font-size: 48px;
}

.countas p {
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
}

.inputdata-area input[type="text"],
.inputdata-area textarea {
    width: 100%;
    padding: 14px 16px;
    margin-bottom: 16px;
    font-size: 16px;
    border: 1px solid $text-default-color;
    background: #ffffff00;
}

.inputdata-area label {
    display: block;
    margin-bottom: 4px;
}

.checkbox-lit {
    margin-bottom: 42px;
}

.inputdata-area input[type="checkbox"] {
    // width: 48px;
    // height: 48px;
}

.btnarea input[type="submit"] {
    width: 180px;
    color: $text-color;
    background-color: $primary-color;
    padding: 16px 0px;
    border: 0;
    font-size: 16px;
}

.btnarea input[type="submit"]:hover {
    background-color: $primary-text;
}

@media (max-width:992px) {
    .container {
        max-width: 672px;
    }
    .countas {
        padding: 40px 132px 56px 132px;
    }
    .countas h4 {
        font-size: 2rem;
    }
}

@media (max-width:767px) {
    .container {
        max-width: 352px;
    }
    .countas {
        padding: 24px 24px 56px 24px;
    }
    .countas h4 {
        font-size: 20px;
    }
    .countas p {
        font-size: 1rem;
    }
    .checkbox-lit {
        align-items: flex-start;
        font-size: 14px;
    }
}


/*customer聯絡我們區塊結束*/

@import "layout/footer";//footer.scss
@import "page-faq";//fqa頁面scss
@import "page-product";//product頁面scss
@import "page-product2";//sunglass-product頁面scss
@import "page-location";//分店位置頁面scss
@import "page-location2";//分店位置-細節頁面scss
@import "page-blog";//blog頁面scss
@import "page-blog2";//blog頁面scss